@model Customer

@{
    ViewBag.Title = "Customer";
}

<h2>Customer Details</h2>

<div>
    <h4>@Model.FirstName @Model.LastName</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

    </dl>
</div>
<div id="LocationDiv">
    Address: @Model.Address
    <div><iframe id="BingMapsIFrame" width="500" height="400" frameborder="0" src="http://www.bing.com/maps/embed/viewer.aspx?v=3&amp;cp=17.700000~20.000000&amp;lvl=2&amp;w=500&amp;h=400&amp;sty=r&amp;typ=d&amp;pp=&amp;ps=&amp;dir=0&amp;mkt=en-us&amp;form=BMEMJS"></iframe><div style="margin: 12px 0 0 0;"><a target="_blank" href="http://www.bing.com/maps/?cp=17.700000~20.000000&amp;sty=r&amp;lvl=2&amp;sp=&amp;mm_embed=map">View Larger Map</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=17.700000~20.000000&amp;sty=r&amp;lvl=2&amp;rtp=~pos.17.700000_20.000000____&amp;mm_embed=dir">Get Directions</a>&nbsp; |&nbsp; <a target="_blank" href="http://www.bing.com/maps/?cp=kygzzzjnzzzz&amp;sty=b&amp;lvl=18&amp;sp=&amp;mm_embed=be">View Bird's Eye</a></div></div>

</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a href="@Url.Action(nameof(CustomersController.Index), nameof(CustomersController).RemoveControllerFromName())">Back to List</a>
</p>
@section Scripts{
    <script>
        $(function () {
            var address = "@Model.Address";
            var query = encodeURIComponent(address);
            console.log("Query: " + query);
            $("#BingMapsIFrame").attr("src", "http://www.bing.com/mapspreview?ss="+query)
        });
    </script>
}