@model Customer

@{
    ViewBag.Title = "Customer";
}

<h2>@Model.FirstName @Model.LastName</h2>

<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>

<div ng-app="myApp">
    <h4>Notes</h4>
    <p>List of notes here.</p>
    <div ng-controller="NotesController">
        <i class="fa fa-spinner fa-spin fa-2x" ng-if="loading"></i>
        <div ng-if="loading == false">
            <div ng-repeat="note in notes">
                {{ note }}
            </div>
        </div>
    </div>
    <h4>Add Note</h4>
    <p>form here for adding a note</p>
</div>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    <a href="@Url.Action(nameof(CustomersController.Index), nameof(CustomersController).RemoveControllerFromName())">Back to List</a>
</p>
@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular.min.js"></script>
    <script>
        var app = angular.module('myApp', []);
        app.controller('NotesController', function ($scope) {
            $scope.notes = ['hello', 'world', 'test'];
            $scope.loading = true;
        });
    </script>
}