@model Customer

@{
    ViewBag.Title = "Customer";
}

<h2>@Model.FirstName @Model.LastName</h2>

<div>
    <h4>Customer Details</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.CompanyName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CompanyName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmailAddress)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmailAddress)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>

    </dl>
</div>

<div>
    <h4>Notes</h4>
    <i class="fa fa-spinner fa-spin fa-2x" id="LoadingImage"></i>
    <div id="NotesDiv">

    </div>
    <h4>Add Note</h4>
    <form>
        <div class="form-group">
            <textarea id="NoteBody" placeholder="Enter note here" class="form-control" style="max-width: 450px"></textarea>
        </div>
        <div class="form-group">
            <button type="button" id="SubmitNoteBtn" class="btn btn-primary">Submit Note</button>
        </div>
    </form>
</div>

<p>
    <a href="@Url.Action(nameof(CustomersController.Index), nameof(CustomersController).RemoveControllerFromName())">Back to List</a>
</p>
@section Scripts{
    <script src="//cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.3/handlebars.min.js"></script>
    <script>
        function SuccessNoteAdd() {
            console.log("Note successfully posted.");
            $("#NoteBody").val("");
            GetAllNotes();
        }

        function GetAllNotes() {
            $.get('@Url.Content("~/api/Notes/"+Model.Id)', SuccessRetrieveNotes);
        }

        function SuccessRetrieveNotes(data) {
            $("#LoadingImage").hide();
            console.log('Retrieved: ' + data);
            var html = template({ notes: data });
            $("#NotesDiv").html(html);
            console.log("Processed HTML: " + html);
        }

        var template = null; //only want to compile once

        $(function () {
            var source = $("#notes-template").html();
            template = Handlebars.compile(source);

            GetAllNotes();
            

            $("#SubmitNoteBtn").click(function () {
                console.log("Submitting note...");
                var note = { Body: $("#NoteBody").val(), CustomerId: '@Model.Id' };
                $.post('@Url.Content("~/api/Notes")', note, SuccessNoteAdd);
            });
        });
    </script>

}
<script id="notes-template" type="text/x-handlebars-template">
    {{#each notes}}
    <div class="social-comment">
        {{Body}} - <strong>{{CreatedByUserName}}</strong>
    </div>
    {{/each}}
</script>