@model CustomersIndexViewModel

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    <a href="@Url.Action(nameof(CustomersController.New), nameof(CustomersController).RemoveControllerFromName())" class="btn btn-primary">Create New</a>
</p>

@if (Model.AllCustomersList.Count() == 0)
{
    <p>There are no customers in the database. Click the button above to add one!</p>
}
else
{
    <div id="CustomersDiv" class="table-responsive">
        <table id="CustomersTable" class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].PhoneNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var customer in Model.AllCustomersList)
            {
            <tr id="Customer_@customer.Id">
                <td>
                    @Html.DisplayFor(modelItem => customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.PhoneNumber)
                </td>
                <td>
                    <a href="@Url.Action(nameof(CustomersController.Details), nameof(CustomersController).RemoveControllerFromName(), new { id = customer.Id })" class="btn btn-info btn-sm">Details</a> |
                    <button type="button" class="btn btn-danger btn-sm" onclick="DeleteCustomer(@customer.Id)">Delete</button>
                </td>
            </tr>}
        </table>
    </div>
}
@section Scripts{
    <script>
        function DeleteCustomer(id) {
            console.log("Deleting customer: " + id);
            $.ajax({
                url: "@Url.Content("~/api/Customers/")" + id,
                type: "DELETE"
            }).success(function () {
                $("#Customer_" + id).fadeOut(300, function () {
                    $(this).remove();
                    if ($("#CustomersTable tr").length == 1) {
                        $("#CustomersTable").fadeOut(300, function () { $(this).remove(); });
                        $("#CustomersDiv").removeClass("table-responsive").html("<p>There are no customers in the database.</p>");
                    }
                });
            });
        }
    </script>
}