@model CustomersIndexViewModel

@{
    ViewBag.Title = "Customers";
}

<h2>Customers</h2>

<p>
    <a href="@Url.Action(nameof(CustomersController.New), nameof(CustomersController).RemoveControllerFromName())" class="btn btn-primary">Create New</a>
</p>

@if (Model.AllCustomersList.Count() == 0)
{
    <p>There are no customers in the database. Click the button above to add one!</p>
}
else
{
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].FirstName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].LastName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].CompanyName)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].EmailAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].Address)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.AllCustomersList[0].PhoneNumber)
                </th>
                <th></th>
            </tr>

            @foreach (var customer in Model.AllCustomersList)
            {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => customer.FirstName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.LastName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.CompanyName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.EmailAddress)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.Address)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => customer.PhoneNumber)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = customer.Id }) |
                    <a href="@Url.Action(nameof(CustomersController.Details), nameof(CustomersController).RemoveControllerFromName(), new { id = customer.Id })">Details</a> |
                    @Html.ActionLink("Delete", "Delete", new { id = customer.Id })
                </td>
            </tr>}
        </table>
    </div>
}
