<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge"> 
    <title>@ViewBag.Title@if (!String.IsNullOrEmpty(ViewBag.Title)) {<text> | </text>} OgCRM</title>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" rel="stylesheet" />
    <link href="@Url.Content("~/Content/OgCRM.css")" rel="stylesheet" />
</head>
<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="@Url.Action(nameof(HomeController.Index), nameof(HomeController).RemoveControllerFromName())">OgCRM</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="@Url.Action(nameof(HomeController.Index), nameof(HomeController).RemoveControllerFromName())">Home</a></li>
                    <li><a href="@Url.Action(nameof(CustomersController.Index), nameof(CustomersController).RemoveControllerFromName())">Customers</a></li>
                    <li><a href="@Url.Action(nameof(UserAccountController.Index), nameof(UserAccountController).RemoveControllerFromName())">Users</a></li>
                </ul>
            </div>
        </div>
    </nav>


    <div class="container">
            @RenderBody()
    </div>


    <script src="//code.jquery.com/jquery-2.1.4.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
@RenderSection("scripts", false)

</body>
</html>
