@model LayoutViewModel
<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                        <span class="clear">
                            <span class="block m-t-xs">
                                <img src="@Url.Content("~/Content/icon_128.png")" />
                            </span>
                        </span>
                    </a>
                    <ul class="dropdown-menu animated fadeInRight m-t-xs">
                        <li><a href="#">Logout</a></li>
                    </ul>
                </div>
                <div class="logo-element">
                    OgCRM
                </div>
            </li>
            <li class="@Html.IsSelected(action: nameof(HomeController.Index), controller:nameof(HomeController).RemoveControllerFromName())">
                <a href="@Url.Action(nameof(HomeController.Index), nameof(HomeController).RemoveControllerFromName())"><i class="fa fa-home"></i> <span class="nav-label">Home</span> </a>
            </li>
            <li class="@Html.IsSelected(action: nameof(HomeController.DemoSetup), controller:nameof(HomeController).RemoveControllerFromName())">
                <a href="@Url.Action(nameof(HomeController.DemoSetup), nameof(HomeController).RemoveControllerFromName())"><i class="fa fa-database"></i> <span class="nav-label">Demo Setup</span> </a>
            </li>
            <li class="@Html.IsSelected(controller: nameof(CustomersController).RemoveControllerFromName())">
                <a href="#"><i class="fa fa-male"></i> <span class="nav-label">Customers </span><span class="label label-warning pull-right">@Model.NumberOfCustomers</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: nameof(CustomersController.Index), controller: nameof(CustomersController).RemoveControllerFromName())">
                        <a href="@Url.Action(nameof(CustomersController.Index), nameof(CustomersController).RemoveControllerFromName())">All Customers</a>
                    </li>
                    <li class="@Html.IsSelected(action: nameof(CustomersController.New), controller: nameof(CustomersController).RemoveControllerFromName())">
                        <a href="@Url.Action(nameof(CustomersController.New), nameof(CustomersController).RemoveControllerFromName())">New</a>
                    </li>
                </ul>
            </li>
            <li class="@Html.IsSelected(controller: nameof(UserAccountController).RemoveControllerFromName())">
                <a href="#"><i class="fa fa-users"></i> <span class="nav-label">Accounts </span><span class="label label-warning pull-right">@Model.NumberOfUserAccounts</span></a>
                <ul class="nav nav-second-level collapse">
                    <li class="@Html.IsSelected(action: nameof(UserAccountController.Index), controller: nameof(UserAccountController).RemoveControllerFromName())">
                        <a href="@Url.Action(nameof(UserAccountController.Index), nameof(UserAccountController).RemoveControllerFromName())">All Accounts</a>
                    </li>
                    <li class="@Html.IsSelected(action: nameof(UserAccountController.New), controller: nameof(UserAccountController).RemoveControllerFromName())">
                        <a href="@Url.Action(nameof(UserAccountController.New), nameof(UserAccountController).RemoveControllerFromName())">New</a>
                    </li>
                </ul>
            </li>
        </ul>
    </div>
</nav>